body {
  margin: 0;
  font-family:'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

button, input {
  font-family:'Inter', system-ui;

}

.wrapper {


background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px;
margin: 50px auto;
padding: 40px;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  
}

.headerLeft  {
  display: flex;
  justify-content: center;
  

  img {
    display: flex;
    margin-right: 15px;
  }

  h3 
  p {
    display: flex;
    margin: 0;
    
  
  }
} 
  li {
    display: flex;
    margin-right: 30px;
    list-style-type: none;
  }

  .headerRight{
    display: inline-flex;

  }
  .content {
    
    
    h1 {
      
      margin: 40;
    }
  }

  .favorit {
    position: absolute;
    cursor: pointer;
  }

  .search-block {
    display: flex;
    justify-content: end;
    border: 1px solid #f3f3fe;
    border-radius: 10px;
    padding: 0 15px;
   
    input {
      border: 0;
      padding: 10px;
      font-size: 16px;
      width: 200px;
    }
    
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);

  }

  .drawer{
   position: absolute;
   width: 385px;
   height: 100%;
   right: 0;
   background: #FFFFFF;
   box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
   padding: 30px;

   h2 {
     margin: 0;
     font-size: 24px;
   }

  }

  .cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;

    p {
      margin-bottom: 5px;
      font-size: 16px;
    }
    img {
      margin: 10px;
      margin-right: 20px;
    }

    b {
      font-size: 14px;
    }

    .removeBtn {
      opacity: 0,5;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;

      & :hover {
        opacity: 1;
      }
    }
  }

 

  .todoSneakers {
    display:inline-flex;
    margin-right: 30px;
    
    
  }
  .card {
    
    border: 1px solid #F8F8F8;
    padding: 20px;
    width: 220px;
    display: flex-wrap;
    justify-content: space-between;
    margin-right: 30px;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    
    
    & :hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);

    } 


    h5 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  
  .cardPrise {
    display: flex;
    justify-content: space-between;
  }
  .prise {
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 11px;
   line-height: 13px;
   text-transform: uppercase;
   color: #BDBDBD;

  }

  .buton1 {
    height: 32px;
    width: 32px;
    left: 294px;
    top: 870px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border-color: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;

  }

    
  





